<%-include('../tela01') %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background-color: #e1140a; color: white;">
                <div class="container">
                    <h1 class="display-4">Lista de Produtos</h1>
                    <form method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="pesquisar" id="pesquisar" placeholder="Digite aqui o que você deseja pesquisar!">
                        </div>
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <% Produtos.forEach(function(produto) { %>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="square-img-wrapper">
                        <img class="card-img-top square-img" src="/fotos/<%= produto.foto %>" alt="Foto do Produto">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= produto.titulo %></h5>
                        <p class="card-text">R$ <%= produto.preco.toFixed(2) %></p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="btn-group">
                            <a href="/produto/edt/<%= produto._id %>" class="btn btn-sm btn-outline-secondary">Editar</a>
                            <a href="/produto/del/<%= produto._id %>" class="btn btn-sm btn-outline-danger">Deletar</a>
                        </div>
                        <small class="text-muted d-block"><%= produto.categoria ? produto.categoria.nome : '' %></small>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%-include('../rodape') %>

<style>
    .square-img-wrapper {
        width: 100%;
        padding-top: 100%; /* Criando um espaço em branco com proporção 1:1 */
        position: relative;
        overflow: hidden;
    }
    .square-img-wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
